*,
*::after,
*::before
{
    box-sizing: border-box;
}

body
{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;

}

.main-banner
{
    background: url("/images/banner.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-banner__button
{
    border: 2px solid #ffffff;
    padding: 20px 30px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    background: #000 0.5;
    transition: 0.3s;
}

.main-banner__button:hover
{
    background: #000;
    padding: 
}

.container
{
    width: 1180px;
    margin: auto;
    max-width: 100%;
    padding: 20px; 30px;
}

/* That section contains styles about */

.about 
{
    display: flex;
    color: #333;
    align-items: center;
}

.about__text 
{
    padding: 20px;
}

.about__header 
{
    text-transform: uppercase;
    font-size: 1.5em;
}

@media (min-width: 840px) 
{
    .about__header 
    {
        font-size: 2em;
    }
}

.about__paragraph 
{
    font-size: 1em;
    line-height: 1.2;
    color: #aaa;
}

@media (min-width: 840px) 
{
    .about__paragraph 
    {
        font-size: 1.3em;
        line-height: 1.4;
    }
}

.about__image 
{
    display: none;
}

@media (min-width: 840px) 
{
    .about__image
    {
        display: block;
        width: 40%;
    }
}

/* That section contains main navigation */

.main-nav
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1;
}

.main-nav__logo-image
{
    width: 70px;
    margin-right: 20px;
}

@media (max-width: 999px)
{
    .main-nav__logo-image
    {
        width: 40px;
        margin-right: 10px;
    }
}

.main-nav__social-icon
{
    width: 16px;
}

.main-nav__inner
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
}

.main-nav__logo-link
{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 35px;
}

@media (max-width: 999px)
{
    .main-nav__logo-link
    {
        font-size: 28px;
    }
}

.main-nav__menu
{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: 0.5s;
    transition-property: opacity, transform;

}

@media (max-width: 991px)
{
    .main-nav__menu
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }
}

@media (max-width: 991px)
{
    .main-nav__menu--open
    {
        opacity: 1;
        pointer-events: unset;
        transform: unset;
    }
}

.main-nav__menu-item
{
    margin-left: 40px;
    padding: 5px 0px;
}

@media (max-width: 1199px)
{
    .main-nav__menu-item
    {
        margin-left: 30px;
    }
}

@media (max-width: 991px)
{
    .main-nav__menu-item
    {
       margin-left: 0;
       padding: 5px 0;
    }
}

.main-nav__menu-item:hover
{
    border-bottom: 2px solid white;
}

@media (max-width: 991px)
{
    .main-nav__menu-item:hover
    {
       border-bottom: unset;
    }
}

.main-nav__link
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 991px)
{
    .main-nav__link
    {
        font-size: 22px;
    }
}


.main-nav__mobile-button
{
    display: none;
}

@media (max-width: 991px)
{
    .main-nav__mobile-button
    {
        display: unset;
        background: none;
        border: none;
        padding: 0;

    }
}

@media (max-width: 991px)
{
    .main-nav__mobile-button-image
    {
       width: 25px;
       display: block;
    }
}

/* New section bookmarks*/

.bookmark
{
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 8vh 5vw;
    position: relative;
    z-index: 0;
}

.bookmark--menu
{
    background-image: url(/images/bookmarks/menu.jpg);
}

.bookmark--gallery
{
    background-image: url(/images/bookmarks/gallery.jpg);
}

.bookmark--contact
{
    background-image: url(/images/bookmarks/contact.jpg);
}

.bookmark--route
{
    background-image: url(/images/bookmarks/route.jpg);
}

.bookmark::after
{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.bookmark__header
{
    font-size: 120px;
    text-transform: uppercase;
    margin: 0;
}

@media (max-width: 1199px)
{
    .bookmark__header
    {
        font-size: 10vw;
    }
}

.bookmark__header::after,
.bookmark__header::before
{
    content: " - ";
    font-weight: normal;
}

.bookmark__description
{
    font-size: 24px;
    margin: 0;
}

@media (max-width:  767px)
{
    .bookmark__description
    {
        font-size: 16px;
    }
}


